@import "variables";
#logo{
  padding-left: 15px;
}
#techscan{
  padding-top: 20px;
  padding-left: 60px;
  font-size: 70px;
}
#mainpage, #userpage, #repopage{
  background-color: $grey;
}
.languageRepos{
  font-size: 30px;
}
.userRepos{
  font-size: 20px;
  padding-left: 15px;
}
#search{
  display: block;
  margin: 0 auto;
  max-width: 250px;
}
#repoList{
  padding: 5px 10px 10px 10px;
}
.buttonGroup{
  display: block;
  text-align: center;
  margin: 0 auto;
}
div.polaroid {
  width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-top: 20px;
}

div.h2 {
  padding-left: 50px;
}
