<div id="repopage" ng-controller="repoController">
  <md-content id="repoList">
    <input ng-model="q" id="search" class="form-control" placeholder="Filter repo">
    <br>
    <div class='md-padding' layout="row" layout-wrap>
      <md-card style="width: 400px;" ng-repeat="repo in repos | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="getUser(repo)">
        <a class="languageRepos">{{repo.full_name}}</a>
        <div class="md-actions" layout="row" layout-align="center">
          <md-button>Forks: {{repo.forks}}</md-button>
          <md-button>Open Issue: {{repo.open_issues}}</md-button>
          <md-button>Watchers: {{repo.watchers}}</md-button>
        </div>
    </md-card>
  </div>
  <div class="buttonGroup">
    <md-button class="md-raised md-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
      Previous</md-button>
    {{currentPage+1}}/{{numberOfPages()}}
    <md-button class="md-raised md-primary" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
      Next</md-button>
  </div>
  <br><br><br>
  </md-content>
</div>
