<div id="mainpage" ng-controller="mainController">
  <div id="languages" class="container-fluid text-center">
    <h2 id="header2">Programming Languages</h2>
    <div class="row">
      <div ng-repeat="language in groupOne" >
        <div class="col-md-4" ng-click="clickedLanguage(language)">
          <div class="thumbnail slideanim">
            <img src={{language.source}} alt={{language.alt}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="languages" class="container-fluid text-center">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div ng-repeat="language in groupTwo">
        <div class="col-md-4" ng-click="clickedLanguage(language)">
          <div class="thumbnail slideanim">
            <img src={{language.source}} alt={{language.alt}} />
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
